Package: com.samuel.resolutionx
Name: ResolutionX
Version: 1.0.0
Architecture: iphoneos-arm
Description: Resolution/layout presets and iPhone X-style dock for iPhone 8 Plus on iOS 16.
Maintainer: Samuel
Author: Samuel
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Tag: purpose::extension
