Package: com.samuel.resolutionx
Name: ResolutionX
Version: 1.0.2
Architecture: iphoneos-arm
Description: Display layout presets and an iPhone X-style dock for iPhone 8 Plus.
Maintainer: Samuel
Author: Samuel
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Tag: purpose::extension
